#Local Env
.venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Output and build
Notebooks/Output/
Output/
build/
dist/
fits/
*.egg-info/


# IDEs
.vscode/

#Misc
ruff.toml
.idea/
.ipynb_checkpoints/
*.tmp
*.so
*.npy
*.npz
*.csv
*.fits
*.png
*.jpg
*.DS_Store